<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csci498.cokembel.lunshlist"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <supports-screens android:smallScreens="false" android:largeScreens="true" android:normalScreens="true"/>
    <application
        android:icon="@drawable/restaurant_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name="csci498.cokembel.lunchlist.LunchList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="csci498.cokembel.lunchlist.DetailForm"></activity>
        <activity android:name="csci498.cokembel.lunchlist.EditPreferences"></activity>
        <activity android:name="csci498.cokembel.lunchlist.FeedActivity"></activity>
        <activity android:name="csci498.cokembel.lunchlist.RestaurantMap"></activity>
        <service android:name="csci498.cokembel.lunchlist.FeedService"></service>
    	<receiver android:name=".OnBootReceiver"
    	    android:enabled="false">
    	    <intent-filter>
    	        <action android:name="android.intent.action.BOOT_COMPLETED" />
    	    </intent-filter>
    	</receiver>
    </application>

</manifest>